<div
    class="flex gap-0"
    [class]="horizontal ? 'flex-row items-center' : 'flex-col'"
>
    @if (label) {
        <label
            [for]="inputId"
            class="text-base font-medium text-black-custom dark:text-white"
            [ngClass]="horizontal ? 'flex items-center gap-1 overflow-hidden' : 'mb-2 block'"
        >
            <span [ngClass]="{ 'flex-1': horizontal }" [title]="label">
                {{ label }}
            </span>
        </label>
    }

    <div #inputNumberHost class="w-full min-w-0 flex-1">
        <p-inputnumber
            [(ngModel)]="value"
            (ngModelChange)="onModelChange($event)"
            (onBlur)="onBlur()"
            [disabled]="isDisabled"
            [mode]="mode"
            [showButtons]="showButtons"
            [inputId]="inputId"
            [min]="min"
            [max]="max ?? undefined"
            [placeholder]="placeholder"
            [useGrouping]="useGrouping"
            [minFractionDigits]="allowDecimals ? 2 : 0"
            [maxFractionDigits]="allowDecimals ? 2 : 0"
            
            [ngClass]="{ 'ng-invalid ng-dirty': error }"
            
            class="w-full text-base text-center"
            [styleClass]="borderless ? 'w-full inputnumber-borderless' : 'w-full text-center'"
            [inputStyleClass]="borderless ? 'w-full inputnumber-borderless__input' : 'w-full text-center'"
        />
    </div>
</div>