<header
    class="h-16 bg-white dark:bg-dark-scale shadow-md dark:shadow-black/40 flex items-center justify-between px-2 sm:px-4 sticky top-0 z-30 transition-all duration-300"
>
    <button
        (click)="toggleSidebar()"
        class="shrink-0 w-10 h-10 flex items-center justify-center text-gray-scale dark:text-gray-scale-200 hover:text-dark-scale dark:hover:text-white-scale hover:bg-gray-scale-50 dark:hover:bg-gray-scale-800 focus:outline-none focus:ring-2 focus:ring-transparent rounded-full transition-colors"
    >
        <span class="material-symbols-rounded text-2xl">menu</span>
    </button>
    <!--<div class="flex-1 px-2 sm:px-4">
        <app-search-widget></app-search-widget>
    </div> --> 

    <div class="flex items-center gap-1 sm:gap-2 shrink-0">
        <div class="relative flex-grow sm:flex-grow-0 sm:w-64 hidden sm:block">
            <svg class="w-4 h-4 absolute left-3 top-1/2 -translate-y-1/2 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
            <input type="text" placeholder="Buscar obra, partida, insumo ..." class="w-full pl-9 pr-3 py-2 bg-transparent dark:bg-dark-scale-900 border border-gray-scale-800 dark:border-gray-scale-800 rounded-lg text-sm text-white dark:text-white focus:outline-none focus:border-secondary dark:focus:border-secondary  transition-colors placeholder-gray-400" />
        </div>
        <app-voice-switch/>
        <app-theme-widget></app-theme-widget>
        <app-notification-widget></app-notification-widget>
        <app-user-widget></app-user-widget>
    </div>
</header>
