<label class="group inline-flex cursor-pointer select-none items-center">
    <input
        type="checkbox"
        class="peer sr-only"
        [checked]="value"
        [disabled]="isDisabled"
        (change)="onInputChange($event)"
    />

    <div
        class="flex items-center justify-center rounded border-2 bg-white transition-all duration-200 dark:bg-dark-scale-800"
        [ngClass]="[boxSize, getColorClasses()]"
        [class.opacity-50]="isDisabled"
        [class.cursor-not-allowed]="isDisabled"
    >
        @if (value) {
            <i class="pi pi-check font-bold leading-none" [ngClass]="iconSize"></i>
        }
    </div>
</label>