<div
    class="flex gap-2"
    [class]="horizontal ? 'flex-row items-center' : 'flex-col'"
>
    @if (config.label) {
        <label
            [for]="inputId"
            class="font-regular text-xs text-dark-scale dark:text-white"
            [ngClass]="{
                'block w-full': !horizontal,
                'flex items-center gap-1 overflow-hidden': horizontal,
                'w-40 shrink-0': horizontal && fixedLabel,
                'w-30 sm:w-auto': horizontal && !fixedLabel,
            }"
            [pTooltip]="config.labelTooltip || ''"
            [tooltipPosition]="config.tooltipPosition || 'top'"
            [tooltipDisabled]="!config.labelTooltip"
        >
            <span>
                {{ config.label }}
            </span>

            @if (isRequired) {
                <span class="shrink-0 text-red-500">*</span>
            }
        </label>
    }

    <div class="w-full min-w-0 flex-1">
        @switch (config.type) {
            @case ('text') {
                <input
                    pInputText
                    type="text"
                    [id]="inputId"
                    [placeholder]="config.placeholder || ''"
                    [(ngModel)]="value"
                    (ngModelChange)="onModelChange($event)"
                    (keydown)="onKeyDownInput($event)"
                    (paste)="onPasteInput($event)"
                    (blur)="onBlur()"
                    [disabled]="isDisabled"
                    [pKeyFilter]="config.keyFilter === 'int' ? 'int' : null"
                    [attr.maxlength]="config.maxLength ?? null"
                    [pTooltip]="config.showValueTooltip ? (value || '') : (config.inputTooltip || '')"
                    [tooltipPosition]="config.tooltipPosition || 'top'"
                    [tooltipDisabled]="config.showValueTooltip ? !value : !config.inputTooltip"
                    class="w-full text-xs"
                    [ngClass]="{ 'ng-invalid ng-dirty': hasError }"
                />
            }

            @case ('textarea') {
                <textarea
                    pTextarea
                    [id]="inputId"
                    rows="3"
                    [placeholder]="config.placeholder || ''"
                    [(ngModel)]="value"
                    (ngModelChange)="onModelChange($event)"
                    (blur)="onBlur()"
                    [disabled]="isDisabled"
                    [attr.maxlength]="config.maxLength ?? null"
                    [pTooltip]="config.showValueTooltip ? (value || '') : (config.inputTooltip || '')"
                    [tooltipPosition]="config.tooltipPosition || 'top'"
                    [tooltipDisabled]="config.showValueTooltip ? !value : !config.inputTooltip"
                    class="w-full text-xs"
                    [ngClass]="{ 'ng-invalid ng-dirty': hasError }"
                >
                </textarea>
            }

            @case ('selectLabel') {
                <p-select
                    [inputId]="inputId"
                    [options]="config.options || []"
                    optionLabel="label"
                    optionValue="label"
                    [placeholder]="config.placeholder || 'Seleccione'"
                    [(ngModel)]="value"
                    (ngModelChange)="onModelChange($event)"
                    (onBlur)="onBlur()"
                    [disabled]="isDisabled"
                    class="w-full"
                    appendTo="body"
                    [ngClass]="{ 'ng-invalid ng-dirty': hasError }"
                    [showClear]="clear"
                     [emptyMessage]="'No hay opciones disponibles'"
                >
                </p-select>
            }

            @case ('selectValue') {
                <!-- (onClick)="onSelectOpen()" Reintenta cargar si no había options 
                  Permite mostrar tooltip con la descripción (cuando tooltipOnHover = true)
                  Mantiene el comportamiento original cuando estas opciones no están configuradas-->
                @if (config.tooltipOnHover) {
                    <p-select
                    #selectRef
                    [inputId]="inputId"
                    [options]="config.options || []"
                    optionLabel="label"
                    optionValue="value"
                    [placeholder]="config.placeholder || 'Seleccione'"
                    [(ngModel)]="value"
                    (ngModelChange)="onModelChange($event)"
                    (onBlur)="onBlur()"
                    [disabled]="isDisabled"
                    class="w-full"
                    appendTo="body"
                    [ngClass]="{ 'ng-invalid ng-dirty': hasError }"
                    [showClear]="clear"
                    (onClick)="onSelectOpen()" 
                    >
                    <!-- Item en el dropdown -->
                    <ng-template pTemplate="item" let-opt>
                        <span
                        pTooltip="{{ opt?.desc || opt?.label }}"
                        tooltipPosition="right"
                        >
                        {{ opt?.label }}
                        </span>
                    </ng-template>

                    <!-- Item seleccionado -->
                    <ng-template pTemplate="selectedItem" let-opt>
                        <span
                        pTooltip="{{ opt?.desc || opt?.label }}"
                        tooltipPosition="right"
                        >
                        {{ opt?.label }}
                        </span>
                    </ng-template>
                    </p-select>
                } @else {
                    <!-- versión original (sin tooltip) -->
                    <p-select
                        [inputId]="inputId"
                        [options]="config.options || []"
                        optionLabel="label"
                        optionValue="value"
                        [placeholder]="config.placeholder || 'Seleccione'"
                        [(ngModel)]="value"
                        (ngModelChange)="onModelChange($event)"
                        (onBlur)="onBlur()"
                        [disabled]="isDisabled"
                        class="w-full"
                        appendTo="body"
                        [ngClass]="{ 'ng-invalid ng-dirty': hasError }"
                        [showClear]="clear"
                        (onClick)="onSelectOpen()"
                        [emptyMessage]="'No hay opciones disponibles'"
                        [pTooltip]="config.inputTooltip || ''"
                        [tooltipPosition]="config.tooltipPosition || 'top'"
                        [tooltipDisabled]="!config.inputTooltip"
                    >
                    </p-select>
                }
            }

            @case ('selectInput') {
                <p-select
                    [inputId]="inputId"
                    [options]="config.options || []"
                    optionLabel="label"
                    optionValue="value"
                    [editable]="true"
                    [placeholder]="config.placeholder || 'Seleccione'"
                    [(ngModel)]="value"
                    (ngModelChange)="onModelChange($event)"
                    (onBlur)="onBlur()"
                    [disabled]="isDisabled"
                    class="w-full"
                    appendTo="body"
                    [ngClass]="{ 'ng-invalid ng-dirty': hasError }"
                    [showClear]="clear"
                    [pTooltip]="config.inputTooltip || ''"
                    [tooltipPosition]="config.tooltipPosition || 'top'"
                    [tooltipDisabled]="!config.inputTooltip"
                >
                </p-select>
            }

            @case ('selectFilter') {
                <p-select
                    [inputId]="inputId"
                    [options]="config.options || []"
                    optionLabel="label"
                    optionValue="value"
                    [filter]="true"
                    filterBy="label"
                    [placeholder]="config.placeholder || 'Seleccione'"
                    [(ngModel)]="value"
                    (ngModelChange)="onModelChange($event)"
                    (onBlur)="onBlur()"
                    [disabled]="isDisabled"
                    class="w-full"
                    appendTo="body"
                    [ngClass]="{ 'ng-invalid ng-dirty': hasError }"
                    [showClear]="clear"
                    [emptyFilterMessage]="'No se encontraron resultados'"
                    [emptyMessage]="'No hay opciones disponibles'"
                    [pTooltip]="config.inputTooltip || ''"
                    [tooltipPosition]="config.tooltipPosition || 'top'"
                    [tooltipDisabled]="!config.inputTooltip"
                >
                </p-select>
            }

            @case ('selectMultiple') {
                <p-multiselect
                    [inputId]="inputId"
                    [options]="config.options || []"
                    [(ngModel)]="value"
                    (ngModelChange)="onModelChange($event)"
                    [filter]="true"
                    optionLabel="label"
                    optionValue="value"
                    [placeholder]="config.placeholder || 'Seleccione'"
                    [maxSelectedLabels]="4"
                    selectedItemsLabel="{0} elementos seleccionados"
                    [emptyFilterMessage]="'No se encontraron resultados'"
                    [emptyMessage]="'No hay opciones disponibles'"
                    (onBlur)="onBlur()"
                    [disabled]="isDisabled"
                    display="chip"
                    class="w-full"
                    [showClear]="clear"
                    [pTooltip]="config.inputTooltip || ''"
                    [tooltipPosition]="config.tooltipPosition || 'top'"
                    [tooltipDisabled]="!config.inputTooltip"
                />
            }
        }
        @if (errorMessage && hasError) {
            <small class="mt-1 block text-red-600">
                {{ errorMessage }}
            </small>
        }
    </div>
</div>