<div
    *ngIf="layoutService.isMobileOpen()"
    class="fixed inset-0 bg-black/50 z-40 md:hidden transition-opacity duration-300"
    (click)="layoutService.closeMobileSidebar()"
></div>

<aside
    class="fixed top-0 left-0 h-screen bg-white-scale dark:bg-dark-scale border-r border-gray-scale-200 dark:border-gray-scale-800 flex flex-col z-50 transition-all duration-300 ease-in-out group overflow-x-hidden"
    [ngClass]="{
        '-translate-x-full': !layoutService.isMobileOpen(),
        'translate-x-0 w-[280px]': layoutService.isMobileOpen(),

        'md:translate-x-0': true,
        'md:w-[280px]': !layoutService.isMiniMode(),
        'md:w-[72px]': layoutService.isMiniMode(),

        'md:hover:w-[280px] md:hover:shadow-xl dark:md:hover:shadow-black/50':
            layoutService.isMiniMode(),
    }"
>
    <div
        class="h-16 flex items-center justify-between px-4 border-b border-gray-scale-200 dark:border-gray-scale-800 flex-shrink-0"
    >
        <div class="flex items-center overflow-hidden">
            <div class="flex h-16 items-center p-16"
                [ngClass]="{
                    'md:opacity-0': layoutService.isMiniMode(),
                    'group-hover:opacity-100': layoutService.isMiniMode(),
                }"
            >
                <img
                    class="w-full dark:flex dark:invert dark:brightness-0"
                    src="images/logo/logoCompletoGORE.svg"
                    alt="Logo image"
                />
            </div>
        </div>
        <button
            (click)="layoutService.closeMobileSidebar()"
            class="md:hidden w-8 h-8 flex items-center justify-center rounded-full text-gray-scale hover:text-primary-600 dark:text-gray-scale-200 dark:hover:text-secondary-400 transition-colors"
        >
            <span class="material-symbols-rounded">close</span>
        </button>
    </div>

    <div class="flex-1 overflow-y-auto overflow-x-hidden pt-4 space-y-1 scrollbar-thin">
        <app-sidebar-item *ngFor="let item of menuItems" [item]="item"></app-sidebar-item>
    </div>

</aside>