<div
    class="flex items-center pl-2 sm:pl-3 border-l border-secondary-200 dark:border-secondary-700 ml-1 sm:ml-2"
>
    <button
        (click)="toggleMenu()"
        class="h-9 w-9 rounded-full bg-primary dark:bg-secondary  border-2 border-primary-700  dark:border-secondary-700  overflow-hidden flex items-center justify-center transition-all outline-none"
    >
        <span class="material-symbols-rounded text-white dark:text-dark-scale"
            >person</span
        >
    </button>

    <span class="font-bold ml-2">Mi cuenta</span>
</div>
