<div
    class="flex items-center pl-2 sm:pl-3 border-l border-secondary-200 dark:border-secondary-700 ml-1 sm:ml-2"
>
    <button
        (click)="toggleMenu()"
        class="h-9 w-9 rounded-full bg-secondary-200 dark:bg-secondary-700 border-2 border-secondary-200 dark:border-secondary-600 overflow-hidden flex items-center justify-center hover:ring-2 hover:ring-primary-500 transition-all outline-none"
    >
        <span class="material-symbols-rounded text-secondary-500 dark:text-secondary-400"
            >person</span
        >
    </button>
</div>
