<button
    class="relative w-10 h-10 flex items-center justify-center text-gray-scale dark:text-gray-scale-200 hover:text-dark-scale dark:hover:text-white-scale hover:bg-gray-scale-50 dark:hover:bg-gray-scale-800 focus:outline-none focus:ring-2 focus:ring-transparent rounded-full transition-colors"
    (click)="abrirNotificaciones()"
>
    <span class="material-symbols-rounded">notifications</span>
    <span
        class="absolute top-0 right-0 h-5 w-5 bg-primary-500 text-white text-[10px] font-bold rounded-full flex items-center justify-center border-2 border-white dark:border-secondary-900"
    >
        {{ unreadCount.toString() }}
    </span>
</button>
